@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fuzzy+Bubbles:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Knewave&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 100px;
  align-items: center;
  width: 100vw;
  font-size: 25px;
  gap: 30px;
  color: white;
}

.keypad {
  display: flex;
  color: black;
  gap: 10px;
  flex-wrap: wrap;
  width: 440px;
}
.Keypads {
  border: 2px solid black;
  border-radius: 16px;
  background-color: #eedc82;
  padding: 4px;
  font-size: 30px;
}
.Keypads:hover {
  cursor: pointer;
  opacity: 0.6;
}
.random {
  font-size: 500px;
}
.Start-Button {
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  bottom: 100px;
}
.Start-Button:hover {
  cursor: pointer;
}

.Start-Button {
  border: 2px solid black;
  background-color: pink;
  padding: 20px;
  border-radius: 16px;
}
.word-container {
  font-size: 70px;
}

.background {
  box-sizing: border-box;
  background-image: url(./Cute\ Duck\ Wallpaper.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.backgroundzurag {
  height: 400px;
  width: 250px;
}
.header {
  color: beige;
  font-size: 80px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dialog {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  display: flex;
  gap: 30px;
  z-index: 10;
}
#wontext {
  color: white;
  font-size: 50px;
  font-family: "Fredoka", sans-serif;
}

#losttext {
  color: white;
  font-size: 100px;
  font-family: "Fredoka", sans-serif;
}

#button-try-again {
  background-color: #3b82f6;
  width: 100px;
  height: 30px;
  font-size: 16px;
}

#button-try-again:hover {
  background-color: #2563eb;
  cursor: pointer;
}
.main-body {
  position: relative;
}

#correct-word {
  font-family: "Fredoka", sans-serif;
  font-size: 30px;
  color: beige;
}

#button-restart {
  background-color: #3b82f6;
  width: 100px;
  height: 30px;
  font-size: 16px;
}
#button-restart:hover {
  background-color: #2563eb;
  cursor: pointer;
}
